:root{
  /* --sinapsis-color : #e511ec;
   --sinapsis-color-light : #ffaefa;
   --sinapsis-color-select : #f9bcfb;*/
 
   
     /*Sinapsis Azul
      --sinapsis-color : #118bec;
     --sinapsis-color-light : #deedfd;
     --sinapsis-color-select : #84bcf3;*/
     
     /*Naranja*/
   --sinapsis-color : rgba(242,109,10);
   --sinapsis-color-light : rgba(255,177,113,0.75);
   --sinapsis-color-select : rgba(221,143,79,0.75); 


 
   /*Verde
   --sinapsis-color : #216234;
   --sinapsis-color-light : #e4ffe5;
   --sinapsis-color-select : #9cd6b1; */
 
   
 }
 .btn-outline-sinapsis{
  color: var(--sinapsis-color) !important;
  border-color: var(--sinapsis-color) !important;
}
.btn-sinapsis{
  color: white !important;
  background-color: var(--sinapsis-color) !important;

}
.mb-6{
  margin-bottom: 4rem !important;
}
.btn-sinapsis-border{
  color: var(--sinapsis-color) !important;
  background-color: white !important;
  border-color: var(--sinapsis-color) !important;

}

.bg-ct{
  background-color: #f4cccc !important;
}
.bg-base{
  background-color: #fce5cd !important;
  
}
.bg-venta{
  background-color: #d9ead3 !important;
}
.borderleft{

  border-top:    0px solid  black;
  border-right:  0px solid black;
  border-bottom: 0px solid black;
  border-left:   4px solid  black !important;

}

.trpaddingbottom td{
  
  padding-bottom: 10px;
}
 .th{
  background-color: white !important;
  color: black !important;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.h-400px{
  max-height: 400px;;
}

.h-200px{
  max-height: 200px;;
}
.th-sinapsis{
  background-color: var(--sinapsis-color) !important;
  color: white !important;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.th-sinapsis-white{
  background-color: white !important;
  color: var(--sinapsis-color) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


.bg-sinapsis{
  background-color: var(--sinapsis-color) !important;
}

.bg-sinapsis-light{
  background-color: var(--sinapsis-color-light) !important;
}
.text-sinapsis{
  color: var(--sinapsis-color) !important;
}
.icon{
  width: 40px;
}
.nav-bar-online{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  box-shadow: 0px -25px 25px #f8f9fa;
}

.toplabel{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}


.input-ct{
  border: none;
  width: 165px;
  outline: none;
}
.carrito-icon::before{
  content: "f2";
}
.bg-select{
  background-color: #f2f2f2 !important;
}
.W-100{
  widows: 100px !important;
}
.tabla-facturacion{
  table-layout: fixed;
  width: 100%;

}
td,th{
  padding: 4px;
}


.cell1{
  width: 10%;
}

.cell2{
  width: 20%;
}
.cell25{
  width: 25%;
}
.cell3{
  width: 30%;
}
.cell4{
  width: 40%;
}
.cell5{
  width: 50%;
}
.cell6{
  width: 60%;
}
.cargando{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999999;
}
.logo{
  width:  30%;
}
.logo-header{
  height:  30px;

}
.input-money{
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  font-size: 32px;
  margin: 0 0 20px;
  padding: .5rem 1rem;
  width: 100%;
}
.mb-500{
  margin-bottom: 500px !important;
}

.card-pedidos{
  width: 100%;
  box-shadow: 8px 8px 8px 0px #c6c6c6;
  padding: 10px;
  border-radius: 5px;
  border-top: solid darkgray 2px;
  border-bottom: solid darkgray 2px;
  margin-bottom: 12px;
  display: flex;
  background-color: #e8e8e8;
}

.btn-options{
  width: 50px;
}

.id_factura{
 display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.notificacion{
  z-index: 9999999;
  margin-bottom: 1em;
  position: fixed;
  
  background: rgba(242,109,10,1) !important;
  box-shadow: 0px 10px 8px #e0e0e0;
  background-clip: border-box;
  border: 1px solid #000;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #fff;
  bottom: 5px;
  right: 5px;
  max-width: 500px;
  font-size: 1em;
  padding: 5px;
  font-style: initial;
  box-shadow: 2px 4px 21px #060606;

  max-width: 700px;
  max-height: 700px;

  overflow: auto;
}
.select-fact{
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 10px 8px #e0e0e0;
  color: gray !important;
  
}
.pointer{
  cursor: pointer;
}
.pointer:hover{
  opacity: 0.7;
}
.clickme{
      font-style: italic;
    font-weight: 900;
    color: forestgreen;
}
i{
  cursor: pointer;
}
.card-arabito{
  background: antiquewhite !important;
}

.t-5{
  opacity: 0.7 !important;
  transform: scale(0.8) !important;
}
.zoom-11{
  transform: scale(1.1);
}

.boton-fijo-inferiorizq{
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
  position: fixed;

  bottom: 10px;
  right: 10px;
}

.boton-fijo-inferiorder{
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
  position: fixed;

  bottom: 10px;
  left: 10px;
}

.div-fijo-inferiorder{
  position: fixed !important;
  bottom: 10px;
  left: 10px;
}
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.fs-7{
  font-size: 0.7rem !important;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}
.pago-numero input{
  border-width: 0;
  width: 100%;
  border: none;
  font-style: bold;
  font-weight: bold;
  font-size: x-large;
}
.w-30{
  width: 30% !important;
}

.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-20{
  width: 23% !important;
}
.w-10{
  width: 10% !important;
}
.input_clean{
  outline: none;
  border: 0;
  background-color: none;
}
/*Global*/

html, body {
  font-family: 'Nunito', sans-serif;
  
}

body{
  overflow-y: scroll !important;
  
}

.user{
  font-size: 0.8em;
  font-weight: bold;
}
.sucursal{
  font-size: 0.7em;

}
.avatar{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.text-right{
  text-align: right;
}
.monto-header {
    color: rgb(249, 212, 185);
}
.card-success-pago{
   margin-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #7fffd42e !important;
  background-clip: border-box;
  border: 1px solid #bf9770;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #00000085;
}
.card-danger-pago{
   margin-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #b2222242 !important;
  background-clip: border-box;
  border: 1px solid #bf9770;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #00000085;

}
.card-arabito{
  margin-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #00000003;
  background-clip: border-box;
  border: 1px solid #bf9770;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #00000085;
}
.border-select{
  border-color: #9cff88 !important;
  border-width: 27px !important;
  border-style: groove !important;

}
.bg-gastosfijos{
  background-color: #d89494;
}

.notwrap {
  white-space: nowrap;
}
.bg-gastosvariables{
  background-color: #d8bfbf;
}

.bg-success-1{
  background-color: #3cff33 !important;
}
.bg-success-2{
  background-color: #3dff33c9 !important;
}
.bg-success-3{
  background-color: #3dff338a !important;
}
.bg-success-4{
  background-color: #3dff335d !important;
}
w-200px{
  width: 200px !important;
}

.ps-6{
  padding-left: 4rem !important;
}

.pe-6{
  padding-right: 4rem !important;
}
.text-successfuerte{
  font-weight: bolder !important;
  color: #34751d !important;
}
.card-arabito .descripcion{
  font-size: 1em;
  font-weight: bold;
}
.card-arabito .categoria{
  font-size: 0.8em;
  margin-left: 5px;
}

.card-arabito .suma{
  font-size: 1.2em;
  font-weight: bold;

}
.card-arabito .total{
  font-size: 1.5em;
  font-weight: bold;

}
.card-arabito .cantidad{
  font-size: 1.3em;
  font-weight: bold;

}
.card-arabito .pu{
  font-size: 1.3em;
  font-weight: bold;

}
.tag>.tag-num{
  margin-left: 4px;
  padding: 1px;
  background-color: #f3ece3 ;
  border-radius: 2px;
}
.tag{
  padding: 5px;
  border-radius: 5px;
  border-color: #f3b684;
  background-color: #f3b660 ;
}
.App {
  text-align: center;
}
.bg-arabito{
  background-color: #ec7311 !important;
  color: #fff !important;
  text-shadow: 0 0 black;
}

.bg-arabito-light{

  background-color: #ec731112 !important;
  text-shadow: 0 0 black;
}

.bg-primary-light{

  background-color: #def0fd !important;
  text-shadow: 0 0 black;
}

.bg-warning-light{

  background-color: #f5fdde !important;
  text-shadow: 0 0 black;
}



.text-arabito{
  color: #ec7311 !important;

}
.bg-arabito-select{
  background-color: #f3b684 !important;

}
.btn-arabito{
  color: white !important;
  background-color: #ec7311 !important;
}

.text-arabito{
  color: #ec7311 !important;
}



.btn-outline-arabito{

  color: #ec7311 !important;
  border-color: #ec7311 !important;

}

.btn-arabito-border{
  color: #ec7311 !important;
  background-color: white !important;
  border-color: #ec7311 !important;

}
.btn-hacer-pedido{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  margin:0;
}

.app-logo {
  margin: 7px;
  height: 10vmin;
  pointer-events: none;
}
.bg-sinapsis-light{
  background-color: var(--sinapsis-color-light) !important;
  text-shadow: 0 0 black;
}
.bg-success-light{
  background-color: #e0fdde !important;
  text-shadow: 0 0 black;
}
.bg-danger-light {
  background-color: #ffd3d3 !important;
  text-shadow: 0 0 black;
}


.bg-success-superlight{
  background-color: #f0fdef !important;
  text-shadow: 0 0 black;
}
.bg-danger-superlight {
  background-color: #fff1f1 !important;
  text-shadow: 0 0 black;
}

.bg-sinapsis-superlight {
  background-color: #ffe9ba !important;
  text-shadow: 0 0 black;
}

.table-distribucion{
  border-collapse: separate;
  border-spacing: 9px 1em;
}


.app-body{
  padding-top: 1em;
}

.marginb-6{
  margin-bottom: 5rem !important;
}
.margint-6{
  margin-top: 4rem !important;
}

.arabito_desc {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(242,109,10,0.6206815489867823) 71%, rgba(242,109,10,1) 100%); 
}

.arabito_asc {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,109,10,0.6206815489867823) 71%, rgba(242,109,10,1) 100%); 
}
.btn-medsuccess{
  color: #000;
  background-color: #b0c138 !important;
  border-color: #b0c138 !important;
}

.btn-outline-medsuccess {
  color: #b0c138 !important;
  border-color: #b0c138 !important;
}


.items-table-movil{
  display: none;
}

.items-table-pc{
  display: initial;
}
.flex-even {
  flex: 1;
}

.listSelectFats{
  position: fixed;
  top: 0;
}

.bg-elorza{
  background-color: #9cff88;
}
.bg-mantecal{
  background-color: #edff88;
}
.bg-achaguas{
  background-color: #1951eb;
}
.bg-elsaman{
  background-color: #9cff88;
}
.bg-bruzual{
  background-color: #9cff88;
}
.bg-sanfernando1{
  background-color: #9cff88;
}
.bg-sanfernando2{
  background-color: #9cff88;
}
.bg-calabozo{
  background-color: #9cff88;
}
.bg-valledelapascua{
  background-color: #9cff88;
}
.bg-valledelapascua2{
  background-color: #9cff88;
}
.bg-sanjuandelosmorros{
  background-color: #9cff88;
}
.bg-maracay{
  background-color: #9cff88;
}
.bg-guacara{
  background-color: #9cff88;
}
.bg-sanfernando3{
  background-color: #9cff88;
}

/* @media 
only screen and (max-width: 900px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .items-table-movil{
    display: initial;
  }

  .items-table-pc{
    display: none;
  }
} */


.bg-dark{
  background-color: #f2f2f2;
  color:white;
}
/*.mov-caja{
  position: fixed;
  top: 30%;
  right: 0%;
}
.mov-caja input{
  border:none;
  background: none;
  outline: none;
}*/
.overlay{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	opacity: .4;
	z-index: 999;
}

.modal-custom{
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: fixed !important;
	flex-direction: column;
	display: flex;


}
.modal-content{
  width: 90%;
  height: 90%;
	border-radius: 10px;
	background-color: white;
	padding: 20px;
	overflow-y: auto;
	z-index: 1001;

}

.modal-content-sm{
  width: 50%;
  height: auto;
	border-radius: 10px;
	background-color: white;
	padding: 20px;
	overflow-y: auto;
	z-index: 1001;

}

.modal-content-supersm{
	width: 30%;
	height: auto;
	  border-radius: 10px;
	  background-color: white;
	  padding: 20px;
	  overflow-y: auto;
	  z-index: 1001;
  
  }
.modal-content-lg{
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
  z-index: 1001;

}
.closeModal{
	margin: 10px;
	cursor: pointer;
}
.container-cantidad{
	padding: 20px;
	display: flex;
	align-items: normal;
	justify-content: space-between;
	flex-direction: column;
	height: 90%;

}
.cantidad{
	border:none;
	outline: none;
	font-size: 2em;
	text-align: center;
	margin-top:10px;
	z-index: 99999
}
.cantidad-agg{
  background-color: rgba(242,109,10); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.cantidad-agg-send{
  background-color: #3cff33; 
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  flex-grow: 1
}
.btn-adds{
  display: flex;
  flex-direction: row;

}
.header-modal-cantidad{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



/* Table */
.tabla_datos {
	border-collapse: collapse;
	font-size: 12px;
	text-align: center;
}

.tabla_datos th, 
.tabla_datos td {
	border: 1px solid #e1edff;
	padding: 7px 10px;
}
.tabla_datos caption {
	margin: 7px;
}
