:root{
  /* --sinapsis-color : #e511ec;
   --sinapsis-color-light : #ffaefa;
   --sinapsis-color-select : #f9bcfb;*/
 
   
     /*Sinapsis Azul
      --sinapsis-color : #118bec;
     --sinapsis-color-light : #deedfd;
     --sinapsis-color-select : #84bcf3;*/
     
     /*Naranja*/
   --sinapsis-color : rgba(242,109,10);
   --sinapsis-color-light : rgba(255,177,113,0.75);
   --sinapsis-color-select : rgba(221,143,79,0.75); 
 
   /*Verde
   --sinapsis-color : #216234;
   --sinapsis-color-light : #e4ffe5;
   --sinapsis-color-select : #9cd6b1; */
 
   
 }
 .btn-outline-sinapsis{
  color: var(--sinapsis-color) !important;
  border-color: var(--sinapsis-color) !important;
}
.btn-sinapsis{
  color: white !important;
  background-color: var(--sinapsis-color) !important;

}
.mb-6{
  margin-bottom: 4rem !important;
}
.btn-sinapsis-border{
  color: var(--sinapsis-color) !important;
  background-color: white !important;
  border-color: var(--sinapsis-color) !important;

}
.borderleft{

  border-top:    0px solid  black;
  border-right:  0px solid black;
  border-bottom: 0px solid black;
  border-left:   4px solid  black !important;

}
 .th{
  background-color: white !important;
  color: black !important;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.th-sinapsis{
  background-color: var(--sinapsis-color) !important;
  color: white !important;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.th-sinapsis-white{
  background-color: white !important;
  color: var(--sinapsis-color) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


.bg-sinapsis{
  background-color: var(--sinapsis-color) !important;
}

.bg-sinapsis-light{
  background-color: var(--sinapsis-color-light) !important;
}
.text-sinapsis{
  color: var(--sinapsis-color) !important;
}
.icon{
  width: 40px;
}
.nav-bar-online{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  box-shadow: 0px -25px 25px #f8f9fa;
}

.toplabel{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}


.input-ct{
  border: none;
  width: 165px;
  outline: none;
}
.carrito-icon::before{
  content: "f2";
}
.bg-select{
  background-color: #f2f2f2 !important;
}
.W-100{
  widows: 100px !important;
}
.tabla-facturacion{
  table-layout: fixed;
  width: 100%;

}
td,th{
  padding: 4px;
}


.cell1{
  width: 10%;
}

.cell2{
  width: 20%;
}
.cell25{
  width: 25%;
}
.cell3{
  width: 30%;
}
.cell4{
  width: 40%;
}
.cell5{
  width: 50%;
}
.cell6{
  width: 60%;
}
.cargando{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999999;
}
.logo{
  width:  30%;
}
.logo-header{
  height:  30px;

}

.card-pedidos{
  width: 100%;
  box-shadow: 5px 5px 3px -1px #e3e3e2;
  padding: 10px;
  border-radius: 5px;
  /*border-top: solid darkgray 2px;*/
  border-bottom: solid darkgray 2px;
  margin-bottom: 12px;
  display: flex;
}

.btn-options{
  width: 50px;
}

.id_factura{
 display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.notificacion{
  z-index: 9999999;
  margin-bottom: 1em;
  position: fixed;
  
  background: rgba(242,109,10,1) !important;
  box-shadow: 0px 10px 8px #e0e0e0;
  background-clip: border-box;
  border: 1px solid #000;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #fff;
  bottom: 5px;
  right: 5px;
  max-width: 500px;
  font-size: 1em;
  padding: 5px;
  font-style: initial;
  box-shadow: 2px 4px 21px #060606;

  max-width: 700px;
  max-height: 700px;

  overflow: auto;
}
.select-fact{
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 10px 8px #e0e0e0;
  color: gray !important;
  
}
.pointer{
  cursor: pointer;
}
.pointer:hover{
  opacity: 0.7;
}
.clickme{
      font-style: italic;
    font-weight: 900;
    color: forestgreen;
}
i{
  cursor: pointer;
}
.card-arabito{
  background: antiquewhite !important;
}

.t-5{
  opacity: 0.7 !important;
  transform: scale(0.8) !important;
}
.zoom-11{
  transform: scale(1.1);
}

.boton-fijo-inferiorizq{
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
  position: fixed;

  bottom: 10px;
  right: 10px;
}

.boton-fijo-inferiorder{
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
  position: fixed;

  bottom: 10px;
  left: 10px;
}

.div-fijo-inferiorder{
  position: fixed !important;
  bottom: 10px;
  left: 10px;
}
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.fs-7{
  font-size: 0.7rem !important;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}
.pago-numero input{
  border-width: 0;
  width: 100%;
  border: none;
  font-style: bold;
  font-weight: bold;
  font-size: x-large;
}
.w-30{
  width: 30% !important;
}

.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-20{
  width: 23% !important;
}
.w-10{
  width: 10% !important;
}
.input_clean{
  outline: none;
  border: 0;
  background-color: none;
}
/*Global*/

html, body {
  font-family: 'Nunito', sans-serif;
  
}

body{
  overflow-y: scroll !important;
  
}

.user{
  font-size: 0.8em;
  font-weight: bold;
}
.sucursal{
  font-size: 0.7em;

}
.avatar{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.text-right{
  text-align: right;
}
.monto-header {
    color: rgb(249, 212, 185);
}
.card-success-pago{
   margin-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #7fffd42e !important;
  background-clip: border-box;
  border: 1px solid #bf9770;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #00000085;
}
.card-danger-pago{
   margin-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #b2222242 !important;
  background-clip: border-box;
  border: 1px solid #bf9770;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #00000085;

}
.card-arabito{
  margin-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #00000003;
  background-clip: border-box;
  border: 1px solid #bf9770;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #00000085;
}
.card-arabito .descripcion{
  font-size: 1em;
  font-weight: bold;
}
.card-arabito .categoria{
  font-size: 0.8em;
  margin-left: 5px;
}

.card-arabito .suma{
  font-size: 1.2em;
  font-weight: bold;

}
.card-arabito .total{
  font-size: 1.5em;
  font-weight: bold;

}
.card-arabito .cantidad{
  font-size: 1.3em;
  font-weight: bold;

}
.card-arabito .pu{
  font-size: 1.3em;
  font-weight: bold;

}
.tag>.tag-num{
  margin-left: 4px;
  padding: 1px;
  background-color: #f3ece3 ;
  border-radius: 2px;
}
.tag{
  padding: 5px;
  border-radius: 5px;
  border-color: #f3b684;
  background-color: #f3b660 ;
}
.App {
  text-align: center;
}
.bg-arabito{
  background-color: #ec7311 !important;
  color: #fff !important;
  text-shadow: 0 0 black;
}

.bg-arabito-light{

  background-color: #ec731112 !important;
  text-shadow: 0 0 black;
}

.bg-primary-light{

  background-color: #def0fd !important;
  text-shadow: 0 0 black;
}

.bg-warning-light{

  background-color: #f5fdde !important;
  text-shadow: 0 0 black;
}



.text-arabito{
  color: #ec7311 !important;

}
.bg-arabito-select{
  background-color: #f3b684 !important;

}
.btn-arabito{
  color: white !important;
  background-color: #ec7311 !important;
}

.text-arabito{
  color: #ec7311 !important;
}



.btn-outline-arabito{

  color: #ec7311 !important;
  border-color: #ec7311 !important;

}

.btn-arabito-border{
  color: #ec7311 !important;
  background-color: white !important;
  border-color: #ec7311 !important;

}
.btn-hacer-pedido{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  margin:0;
}

.app-logo {
  margin: 7px;
  height: 10vmin;
  pointer-events: none;
}
.bg-sinapsis-light{
  background-color: var(--sinapsis-color-light) !important;
  text-shadow: 0 0 black;
}
.bg-success-light{
  background-color: #e0fdde !important;
  text-shadow: 0 0 black;
}
.bg-danger-light {
  background-color: #ffd3d3 !important;
  text-shadow: 0 0 black;
}


.bg-success-superlight{
  background-color: #f0fdef !important;
  text-shadow: 0 0 black;
}
.bg-danger-superlight {
  background-color: #fff1f1 !important;
  text-shadow: 0 0 black;
}



.app-body{
  padding-top: 1em;
}

.marginb-6{
  margin-bottom: 5rem !important;
}
.margint-6{
  margin-top: 4rem !important;
}

.arabito_desc {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(242,109,10,0.6206815489867823) 71%, rgba(242,109,10,1) 100%); 
}

.arabito_asc {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,109,10,0.6206815489867823) 71%, rgba(242,109,10,1) 100%); 
}
.btn-medsuccess{
  color: #000;
  background-color: #b0c138 !important;
  border-color: #b0c138 !important;
}

.btn-outline-medsuccess {
  color: #b0c138 !important;
  border-color: #b0c138 !important;
}


.items-table-movil{
  display: none;
}

.items-table-pc{
  display: initial;
}
.flex-even {
  flex: 1;
}

.listSelectFats{
  position: fixed;
  top: 0;
}

/* @media 
only screen and (max-width: 900px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .items-table-movil{
    display: initial;
  }

  .items-table-pc{
    display: none;
  }
} */